<!DOCTYPE html>
<html>
<head>
  <title>Detail</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
      <script src="../static/js/jquery-2.1.1.js"></script>
      <script src="../static/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <!--导航-->
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    <a class="navbar-brand" href="{{ url_for("web.index") }}">Magic</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							 <a href="{{ url_for("web.outlook", outlook="notebook") }}">笔记本</a>
						</li>
						<li>
							 <a href="{{ url_for("web.outlook", outlook="panel") }}">平板电脑</a>
						</li>
                        <li>
							 <a href="{{ url_for("web.outlook", outlook="pc") }}">台式机</a>
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">品牌<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
                                {% for company in data.companys %}
                                    <li>
                                         <a href="{{ url_for("web.company", company=company) }}">{{ company }}</a>
                                    </li>
                                {% endfor %}
							</ul>
						</li>
					</ul>
					<form class="navbar-form navbar-left" role="search" id="search" name="search" method="get" action="{{ url_for('web.search') }}">
						<div class="form-group">
							<input type="text" id="q" name="q" class="form-control" placeholder="名称模糊搜索" />
						</div> <button type="submit" class="btn btn-default">搜索</button>
					</form>
                    {% if data.user %}
                        <ul class="nav navbar-nav navbar-right">
						<li>
                            <a href="{{ url_for("web.cart") }}">
                                <span class="glyphicon glyphicon-shopping-cart"></span>购物车
                            </a>
						</li>
                        <li>
							 <img alt="50x50" style="height: 45px;width: 45px;" {% if data.user["user_img"] %}src="{{ data.user["user_img"] }}"{% else %}src="../static/img/user/default_user_img.png"{% endif %} class="img-circle" />
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                 {% if data.user["nickname"] %}{{ data.user["nickname"] }}{% else %}{{ data.user["email"] }}{% endif %}
                             <strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
                                    <a href="{{ url_for("web.personal_center") }}">个人中心</a>
								</li>
                                <li>
									 <a href="#">修改密码</a>
								</li>
								<li class="divider">
								</li>
								<li>
									 <a href="{{ url_for("web.logout") }}">退出登录</a>
								</li>
							</ul>
						</li>
					</ul>
                    {% else %}
                        <ul class="nav navbar-nav navbar-right">
                        <li>
                             <a href="{{ url_for("web.login") }}">登录</a>
                        </li>
                    </ul>
                    {% endif %}

				</div>

			</nav>
		</div>
	</div>
    <!--图片 规格-->
    <div class="row clearfix" style="margin-top: 70px;">
		<div class="col-md-6 column">
			<img alt="300x200" src="{{ data.data['goods_img'] }}" class="img-thumbnail" />
		</div>
		<div class="col-md-6 column">
            <h2 class="text-center">
				{{ data.data['goods_name'] }}
			</h2>
			<table class="table table-hover" style="margin-top: 40px;">
				<thead>
					<tr>
						<th>
							规格
						</th>
						<th>
							型号
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							CPU
						</td>
						<td>
							{{ data.data['cpu'] }}
						</td>
					</tr>
					<tr class="info">
						<td>
							内存
						</td>
						<td>
							{{ data.data['ram'] }}
						</td>
					</tr>
					<tr >
						<td>
							硬盘
						</td>
						<td>
							{{ data.data['memory'] }}
						</td>
					</tr>
					<tr class="info">
						<td>
							显卡
						</td>
						<td>
							{{ data.data['video_card'] }}
						</td>
					</tr>
					<tr >
						<td>
							尺寸
						</td>
						<td>
							{{ data.data['size'] }}
						</td>
					</tr>
                    <tr class="info">
						<td>
							厂家
						</td>
						<td>
							{{ data.data['cate_company'] }}
						</td>
					</tr>
                    <tr >
						<td>
							库存
						</td>
						<td>
							{{ data.data['stock'] }}
						</td>
					</tr>
                    <tr class="info">
						<td>
							售价
						</td>
						<td>
							{{ data.data['price'] }}
						</td>
					</tr>
				</tbody>
			</table>

            <div class="media">
                <div style="text-align: right;">
                    <a href="#" style="margin-right: 10px;"><button type="button" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-shopping-cart"></span>加入购物车
                    </button></a>
                    <a href="#" style="margin-right: 10px;"><button type="button" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-usd"></span>立即购买
                    </button></a>
                </div>
			</div>

		</div>
	</div>
    <!--商品详情-->
	<div class="row clearfix">
		<div class="col-md-12 column">
			<h2>
				商品详情
			</h2>
			<p>
				{{ data.data['goods_detail'] }}
			</p>
			<p>
				 <a class="btn" href="#">View details »</a>
			</p>
		</div>
	</div>
    <!--页脚-->
	<div class="row clearfix">
		<div class="col-md-12 column">
			 <address> <strong>Twitter, Inc.</strong><br /> 795 Folsom Ave, Suite 600<br /> San Francisco, CA 94107<br /> <abbr title="Phone">P:</abbr> (123) 456-7890</address>
		</div>
	</div>
</div>
</body>
</html>