<!DOCTYPE html>
<html>
<head>
  <title>Personal Center</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
      <script src="../static/js/jquery-2.1.1.js"></script>
      <script src="../static/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <!--导航-->
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    <a class="navbar-brand" href="{{ url_for("web.index") }}">Magic</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							 <a href="{{ url_for("web.outlook", outlook="notebook") }}">笔记本</a>
						</li>
						<li>
							 <a href="{{ url_for("web.outlook", outlook="panel") }}">平板电脑</a>
						</li>
                        <li>
							 <a href="{{ url_for("web.outlook", outlook="pc") }}">台式机</a>
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">品牌<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
                                {% for company in data.companys %}
                                    <li>
                                         <a href="{{ url_for("web.company", company=company) }}">{{ company }}</a>
                                    </li>
                                {% endfor %}
							</ul>
						</li>
					</ul>
					<form class="navbar-form navbar-left" role="search" id="search" name="search" method="get" action="{{ url_for('web.search') }}">
						<div class="form-group">
							<input type="text" id="q" name="q" class="form-control" placeholder="名称模糊搜索" />
						</div> <button type="submit" class="btn btn-default">搜索</button>
					</form>
                    {% if data.user %}
                        <ul class="nav navbar-nav navbar-right">
						<li>
                            <a href="{{ url_for("web.cart") }}">
                                <span class="glyphicon glyphicon-shopping-cart"></span>购物车
                            </a>
						</li>
                        <li>
							 <img alt="50x50" style="height: 45px;width: 45px;" {% if data.user["user_img"] %}src="{{ data.user["user_img"] }}"{% else %}src="../static/img/user/default_user_img.png"{% endif %} class="img-circle" />
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                 {% if data.user["nickname"] %}{{ data.user["nickname"] }}{% else %}{{ data.user["email"] }}{% endif %}
                             <strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
                                    <a href="{{ url_for("web.personal_center") }}">个人中心</a>
								</li>
                                <li>
									 <a href="#">修改密码</a>
								</li>
								<li class="divider">
								</li>
								<li>
									 <a href="{{ url_for("web.logout") }}">退出登录</a>
								</li>
							</ul>
						</li>
					</ul>
                    {% else %}
                        <ul class="nav navbar-nav navbar-right">
                        <li>
                             <a href="{{ url_for("web.login") }}">登录</a>
                        </li>
                    </ul>
                    {% endif %}

				</div>

			</nav>
		</div>
	</div>
    <!--个人信息-->
    <div class="row clearfix" style="margin-top: 70px;">
		<div class="col-md-3 column">
		</div>
		<div class="col-md-6 column">
            <div class="page-header">
                <h1 style="text-align: center;">个人中心</h1>
            </div>

            <form role="form" action="" method="post" enctype="multipart/form-data">
                <div style="text-align: center;">
                    <img {% if data.user["user_img"] %}src="{{ data.user["user_img"] }}"{% else %}src="../static/img/user/default_user_img.png"{% endif %} class="img-circle" style="height: 170px;width: 170px;">
                </div>
                <div class="form-group">
                    <p class="help-block">修改头像(支持png,jpg,gif,jpeg)</p>
                    <input type="file" id="user_img" name="user_img">
                </div>
                {% if data.img_error %}
                    <div class="alert alert-danger">{{ data.img_error }}</div>
                {% endif %}
                {% if data.msg %}
                    <div class="alert alert-success">{{ data.msg }}</div>
                {% endif %}
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">昵称&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <input type="text" class="form-control" id="nickname" name="nickname" {% if data.user["nickname"] %} value="{{ data.user["nickname"] }}"{% endif %} placeholder="昵称">
                </div>
                <br>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">手机号码</span>
                    <input type="text" class="form-control" id="phone_number" name="phone_number" {% if data.user["phone_number"] %} value="{{ data.user["phone_number"] }}"{% endif %} placeholder="手机号码">
                </div>
                <br>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">邮箱&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <input type="text" class="form-control" id="email" name="email" {% if data.user["email"] %} value="{{ data.user["email"] }}"{% endif %} placeholder="邮箱">
                </div>
                <br>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">收货地址</span>
                    <input type="text" class="form-control" id="address" name="address" {% if data.user["address"] %} value="{{ data.user["address"] }}"{% endif %} placeholder="收货地址">
                </div>
                <br>
                <button type="submit" class="btn btn-primary btn-lg btn-block">保存</button>


			</form>
		</div>
		<div class="col-md-3 column">
		</div>
	</div>
</div>
</body>
</html>